
### R
# History files
.Rhistory

# Example code in package build process
*-Ex.R

# .RData
.RData

# Whitelist items from results
results/
!bin-results.png
!linear.jpg
!m-plot.jpg
!part4.jpg
!results.md
